:root {
  --imp-text-color: #0d0d0d;
  --light-bg-color: #f2f2f2;
  --accent-color: #3747F2;
  --highlight-color: #5C8CFF;
}

.services-section {
  padding-bottom: 100px ;
  padding-top: 100px ;
  margin: 0 auto;
  max-width: 1200px;
}

.section-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-bottom: 2rem; /* Added to separate from footer */
}

@media (max-width: 600px) {
  .services-section {
      padding-bottom: 100px ;
      padding-top: 100px ;
      max-width: 300px;
  }

  .section-title {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }

  .services-grid {
    gap: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
