:root {
  --imp-text-color: #0d0d0d;
  --light-bg-color: #f2f2f2;
  --accent-color: #3747F2;
  --highlight-color: #5C8CFF;
}

.home-header {
  padding-top: 80px;
}

.home-section {
  position: relative;
  z-index: -1;
  background-position: top center;
  background-repeat: no-repeat;
  padding: 30px 0;
}

.home-content {
  padding: 4rem 0 2rem;
  color: var(--imp-text-color);
  text-align: left;
  padding-bottom: 50px;
  padding-top: 50px;
}

.heading {
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 2.4em;
  padding-left: 50px;
}

.heading-name {
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 1.8em;
  padding-left: 45px;
}

.main-name-Arabic {
  font-family: "Markazi Text", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.6em;
  color: var(--imp-text-color);
}

.Typewriter__wrapper {
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 2.2em;
  color: var(--accent-color);
}

.Typewriter__cursor {
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 2.4em;
  color: var(--accent-color);
}

@media (max-width: 767px) {
  .Typewriter__wrapper {
    font-size: 1.4em;
    font-weight: 700;
    position: absolute;
  }
  .Typewriter__cursor {
    display: none;
  }
}

.myAvtar {
  justify-content: center;
  padding-top: 9em;
}

@media (max-width: 767px) {
  .myAvtar {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .home-content {
    padding-top: 7px;
  }
}

.home-about-section {
  position: relative;
  padding: 20px 0;
}

.home-about-description {
  color: var(--imp-text-color);
  padding: 10px 0;
  text-align: center;
}

.home-about-description a {
  color: var(--imp-text-color);
}

.home-about-body {
  padding-top: 20px;
  font-size: 1.2em;
  text-align: left;
}

.home-about-social {
  text-align: center;
  padding: 25px 0 60px;
  color: var(--imp-text-color);
}

.home-about-social-text {
  font-family: "Jost", sans-serif;
  font-weight: 600;
}

.home-about-social-links {
  justify-content: center;
  padding-top: 8px;
  display: inline-block;
  position: relative;
  padding-inline-start: 0;
}

.home-social-icons {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background: var(--accent-color);
  border-radius: 30%;
  transition: 0.5s;
  z-index: 1;
  font-size: 1.2em;
  color: var(--light-bg-color);
}

.home-social-icons::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--accent-color);
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.home-social-icons:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px var(--highlight-color);
}

.home-social-icons:hover {
  color: var(--light-bg-color);
  box-shadow: 0 0 10px var(--highlight-color);
  text-shadow: none;
}

.social-icons {
  display: inline-block;
  padding: 0 15px;
}

.icon-colour {
  color: var(--light-bg-color);
}

.flag-icons {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
}
